<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <style>
        {{CSS}}
    </style>

</head>

<body>

    <div class="header">

        <img src="{{LOGO}}" class="logo">

        <h1>{{EMPRESA}}</h1>

        <div class="pedido-footer"> 
            🛒 Realiza tu pedido al WhatsApp 
        </div> 
       <div class="numero-footer">
            <img src="{{WHATSAPP_ICON}}" class="icono-whatsapp">
            993 951 065
        </div>

    </div>

    <div class="productos">

        {{PRODUCTOS}}

    </div>

    <div class="footer-pedido">

        <div class="mensaje">
            ¿Te gustó algún producto?
        </div>

        <div class="pedido-footer"> 
            🛒 Realiza tu pedido al WhatsApp 
        </div> 
        <div class="numero-footer">
            <img src="{{WHATSAPP_ICON}}" class="icono-whatsapp">
            993 951 065
        </div>

    </div>

</body>

</html>